spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-at-startup "sh" "-c" "sleep 2 && xrandr --output DP-1 --primary"
spawn-at-startup "sh" "-c" "sleep 2 && cd ~/.docker/searxng && docker compose down && sleep 5 && docker compose up -d"
spawn-at-startup "sh" "-c" "sleep 5 && export SSH_ASKPASS=\"/usr/lib/seahorse/ssh-askpass\" && export SSH_ASKPASS_REQUIRE=\"prefer\""

hotkey-overlay {
    skip-at-startup
}
